@import url('https://fonts.googleapis.com/css?family=Dosis');

* { box-sizing: border-box; }

html,
body {
    height: 100%;
}

body {
  margin: 0;
  padding-top: 10px;
  background-color: #333;
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
}
a {
  color: #fff;
  text-decoration-color: #777;
}

nav.menu {
  list-style-type: none;
  margin: 30px;
  font-size: 16px;
}
nav.menu li {
  padding: 7px;
}
nav.menu .chapter {
  background: #444;
  margin: 10px 0;
}

#tip {
  background: #fff;
  color: #222;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 3px;
  right: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  transition: transform 1s ease-in;
}
#tip:hover {
  transform: scale(10,10);
}
body.tipped * {
  opacity: 0.5;
}
#ignore-this {
  text-align: center;
  width: 390px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4,90px);
  grid-auto-rows: 90px;
}

#ignore-this * {
  border: 1px solid #888;
  margin: 0;
  display: flex;
  align-items: center; /* align vertical */
  padding: 5px;
}

#cheatsheet {
  padding-left: 20px;
}
#cheatsheet h2 {
  color: #333;
  background: #fff;
  padding: 10px;
}
#cheatsheet>div {
  padding: 10px 20px;
  border-bottom: 1px solid #777;
}

.goback {
  position: fixed;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border: 1px solid #777;
  padding: 3px;
  
}